<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./splitView.css">
    <title></title>
</head>
<body>
    <div id="nav-panel">
        <button id="puzzle-game" class="nav-button">Пазл</button>
        <button id="game-of-life" class="nav-button">Игра "Жизнь"</button>
        <button id="calculator" class="nav-button">Калькулятор</button>
        <button id="timer" class="nav-button">Таймер</button>
        <button id="data-structures" class="nav-button">Структуры данных</button>
    </div>
    <iframe id="contents" src="./placeholder.html"></iframe>
</body>
</html>